input {
  outline: none;
}
.login-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 90px auto;
  font-family: Raleway, sans-serif;
  background-color: #fff;
  width: 500px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #a8a8a8;
  border-radius: 10px;
}

.loginlink {
  padding-left: 5px;
  padding-right: 5px;
}

.signuplink {
  padding-left: 5px;
}

input[type="text"] {
  width: 450px;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input[type="“password”"] {
  width: 450px;
  padding: 12px 20px;
  margin: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

.login-container button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 1px solid #000;
  margin: 10px auto;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  color: #000;
  background-color: transparent;
  text-align: center;
  transition: all 0.2s;
  outline: none;
  box-shadow: 3px 3px 3px #c4c9d1;
}

.login-container button:hover {
  color: #000;
  background-color: #f2f4f7;
}
