* {
  box-sizing: border-box;
}
body {
  /* background-color: #fdf3f3; */

  /* Rectangle: */
  background-color: #d7e7f9;
}
.main {
  text-align: center;
}
.container {
  width: 250px;
  padding: 10px;
  margin: 15px 10px;
  height: auto;
  opacity: 0.9;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #86b7f3;
}

.feed-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form {
  align-content: left;
}

.create-task1 {
  background-color: #2e7ddd;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input {
  float: left;
  width: 60%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
}

.title {
  text-align: center;
}

.sidebar-two {
  align-items: center;
  background-color: #fdf3f3;
  width: 100%;
}

.grid1 {
  width: 100%;
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left1 {
  width: 60%;
  /* background-color: white; */
  /* background-color: #b7cee2; */
}

h1 {
  margin: 10px;
  opacity: 0.61;
  font-family: LucidaGrande;
  font-size: 80px;
  color: black;
  text-align: left;
}

.right1 {
  margin: 10px;
  width: 35%;
  background-image: url(./linedpaper.png);
  background-repeat: repeat;
  /* background-color: white; */
  /* background-color: #eccccc; */
  /* background-color: #f0ffff; */
  /* border: 3px solid #2e7ddd; */
  border-radius: 5px;
}
